:root {
  --color-unSelected: rgb(220, 200, 180);
  --color-hover: rgb(200, 180, 160);
  --color-active: rgb(80, 60, 40);
}

* {
  margin: 0;
  padding: 0;

  font-family: sans-serif, Times, serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  user-select: none; /*doesn't work on all browsers*/
  color: black;
}

body {
  background-color: #333;
}

.everything {
  position: absolute;
  display: flex;
  flex-direction: row;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings {
  display: flex;
  flex-direction: column;
  background-color: var(--color-unSelected);
}

/* .slider-wrapper:has(.slider:has(:hover)) {
  background-color: var(--color-hover);
}

.slider-wrapper:has(.slider:has(input:active)) {
  background-color: var(--color-active);
} */

/* .slider-value + .slider:has(:active) {
  background-color: black;
  color: white
} */

.active {
  background-color: var(--color-active);
  color: white;
}

.slider-text-active, .slider-value-active {
  color: white;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sliderDensity, #sliderDelay {
  flex: 0.9;
}

.button {
  position: relative;
  display: block;
  background-color: var(--color-unSelected);
  padding: 16px 32px;
}

.button:hover {
  background-color: var(--color-hover);
}

.button:active {
  background-color: var(--color-active);
  color: white;
}

.check-pair-container {
  display: flex;
}

input[type="checkbox"] {
  display: none;
/*   padding: 10px;
  margin: 100px;
  width: 300px;
  height: 300px; */
}

label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  line-height: 20px;
  font-size: 24px;
}

input[type="checkbox"]:hover + label {
  background-color: var(--color-hover);
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  background-color: var(--color-active);
  color: white;
}

.test {
  background-color: green;
}